<form method="post" action="{{ path('sport_activities_delete', {'id': sport_activity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sport_activity.id) }}">
    <button class="btn">Delete</button>
</form>
