{% extends 'base.html.twig' %}

{% block title %}Edit SportActivities{% endblock %}

{% block body %}
    <h1>Edit SportActivities</h1>

    {{ include('sport_activities/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sport_activities_index') }}">back to list</a>

    {{ include('sport_activities/_delete_form.html.twig') }}
{% endblock %}
