{% extends 'base.html.twig' %}

{% block title %}SportActivities index{% endblock %}

{% block body %}
    <h1>SportActivities index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SportType</th>
                <th>SportingObjective</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sport_activity in sport_activities %}
            <tr>
                <td>{{ sport_activity.id }}</td>
                <td>{{ sport_activity.sportType }}</td>
                <td>{{ sport_activity.sportingObjective }}</td>
                <td>
                    <a href="{{ path('sport_activities_show', {'id': sport_activity.id}) }}">show</a>
                    <a href="{{ path('sport_activities_edit', {'id': sport_activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sport_activities_new') }}">Create new</a>
{% endblock %}
