{% extends 'base.html.twig' %}

{% block title %}New SportActivities{% endblock %}

{% block body %}
    <h1>Create new SportActivities</h1>

    {{ include('sport_activities/_form.html.twig') }}

    <a href="{{ path('sport_activities_index') }}">back to list</a>
{% endblock %}
