{% extends 'base.html.twig' %}

{% block title %}SportActivities{% endblock %}

{% block body %}
    <h1>SportActivities</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sport_activity.id }}</td>
            </tr>
            <tr>
                <th>SportType</th>
                <td>{{ sport_activity.sportType }}</td>
            </tr>
            <tr>
                <th>SportingObjective</th>
                <td>{{ sport_activity.sportingObjective }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sport_activities_index') }}">back to list</a>

    <a href="{{ path('sport_activities_edit', {'id': sport_activity.id}) }}">edit</a>

    {{ include('sport_activities/_delete_form.html.twig') }}
{% endblock %}
