/* MEDIA QUERY */
@media only screen and (orientation: portrait) {
    .slide>img {
        height: 40vh;
    }

    #accroche {
        top: 10vh;
        font-size: large;

    }

    #bouton_inscription {
        top: 20vh;
    }

    .content-video {
        background-image: url("../images/fondecranportrait.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 800px) {
    .slide>img {
        height: 40vh;
    }

    #accroche {
        top: 10vh;
        font-size: large;
    }

    #bouton_inscription {
        top: 20vh;
    }
}

@media only screen and (max-width: 950px) {
    .content-video {
        background-image: url("../images/fondecranportrait.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #accroche {
        top: 30vh;
        left: 20%;
        font-size: x-large;
    }

    #bouton_inscription {
        top: 35vh;
        left: 12%;
    }

    .content-video {
        height: 120vh;
    }

    .content-video h2 {
        letter-spacing: 5px;
    }

    #video {
        width: 90%;
    }

    .content-video p {
        width: 90%;
        font-size: 1.2rem;
    }

    .content_instagram {
        display: none;
    }

    .content-news {
        display: none;
    }

    .content-footer {
        padding: 10px;
        justify-content: space-between;
    }

    .content-footer>div {
        width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .content-video {
        height: 120vh;
    }

    .content-video h2 {
        letter-spacing: 5px;
    }

    #video {
        width: 90%;
    }

    .content-video p {
        width: 90%;
        font-size: 1.2rem;
    }

    .content_instagram {
        display: none;
    }

    .content-news {
        display: none;
    }

    .content-footer {
        padding: 10px;
        justify-content: space-around;
    }

    .content-footer>div {
        width: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .content-video {
        width: 120vh;
    }

    .content-video h2 {
        letter-spacing: 5px;
    }

    #video {
        width: 90%;
    }

    .content-video p {
        width: 90%;
        font-size: 1.2rem;
    }

    .content_instagram {
        display: none;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* nope */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    #bouton_inscription {
        top: 45vh;
        left: 18%;
    }
}