<div class="card offset-2 mt-5" style="width: 80rem;">
    <div class="card-body">
        <h5 class="card-title">Fiche animal</h5>
        <div class="card-text" >
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.identificationNumber) }}
            {{ form_row(form.pedigree) }}
            {{ form_row(form.idPhotoPath) }}
            {{ form_row(form.type) }}
            <p class="m-5">
                <button class="btn btn-primary m-3" type="button" data-toggle="collapse" data-target="#healthBook_form"
                        aria-expanded="false" aria-controls="collapseExample">
                    fiche de santé associée
                </button>
                <button class="btn btn-primary m-3" type="button" data-toggle="collapse" data-target="#nutrition_form"
                        aria-expanded="false" aria-controls="collapseExample">
                    fiche nutrition associée
                </button>
                <button class="btn btn-primary m-3" type="button" data-toggle="collapse"
                        data-target="#sportActivities_form" aria-expanded="false" aria-controls="collapseExample">
                    fiche activités sportives associée
                </button>
            </p>
            <div class="collapse m-3" id="healthBook_form">
                <div class="card card-body">
                    {{ form_row(form.healthBook) }}
                </div>
            </div>
            <div class="collapse m-3" id="nutrition_form">
                <div class="card card-body">
                    {{ form_row(form.nutrition) }}
                </div>
            </div>
            <div class="collapse m-3" id="sportActivities_form">
                <div class="card card-body">
                    {{ form_row(form.sportActivities) }}
                </div>
            </div>

            <button class="btn btn-primary float-right">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}

            {% block javascripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {% endblock %}
        </div>
    </div>
</div>