{% extends 'base.html.twig' %}

{% block title %}Edit Animal{% endblock %}

{% block body %}

    <a class="float-left" href="{{ path('animal_index') }}">< Retour à la liste</a>
    <div class="float-right">{{ include('animal/_delete_form.html.twig') }}</div>
    {{ include('animal/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}

