{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>IdentificationNumber</th>
                <th>Pedigree</th>
                <th>IdPhotoPath</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.birthday }}</td>
                <td>{{ animal.identificationNumber }}</td>
                <td>{{ animal.pedigree }}</td>
                <td>{{ animal.idPhotoPath }}</td>
                <td>{{ animal.type }}</td>
                <td>
                    <a href="{{ path('animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('animal_new') }}">Create new</a>
{% endblock %}
