{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <div class="card offset-2 mt-5" style="width: 80rem;">
        <div class="card-body">
            <div class="m-3">
                <a href="{{ path('animal_index') }}" class="card-link">< Retour à la liste</a>
                <a class="ml-5 btn btn-primary" href="{{ path('animal_edit', {'id': animal.id}) }}">editer</a>
                <div class="float-right">{{ include('animal/_delete_form.html.twig') }}</div>
            </div>
            <h5 class="card-title">{{ animal.name|default }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Numéro d'identification : <span>{% if animal.identificationNumber is not null %}{{ animal.identificationNumber|default }}{% else %}Non renseigné{% endif %}</span></h6>
            <div class="card-text">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Birthday</th>
                        {% if animal.birthday is not null %}
                            <td>{{ animal.birthday|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Pedigree</th>
                        {% if animal.pedigree is not null %}
                            <td>{{ animal.pedigree|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Photo</th>
                        {% if animal.idPhotoPath is not null %}
                            <td>{{ animal.idPhotoPath }}</td>
                        {% else %}
                            <td>Photo non disponible</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Type</th>
                        {% if animal.type is not null %}
                            <td>{{ animal.type|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Veterinaire</th>
                        {% if animal.healthBook.veterinarian is not null %}
                            <td>{{ animal.healthBook.veterinarian|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Maladies</th>
                        {% if animal.healthBook.diseases is not null %}
                            <td>{{ animal.healthBook.diseases|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Vaccins</th>
                        {% if animal.healthBook.vaccines is not null %}
                            <td>{{ animal.healthBook.vaccines|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Anti-parasitaires</th>
                        {% if animal.healthBook.antiparasites is not null %}
                            <td>{{ animal.healthBook.antiparasites|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Opérations</th>
                        {% if animal.healthBook.surgeries is not null %}
                            <td>{{ animal.healthBook.surgeries|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Commentaire du vétérinaire</th>
                        {% if animal.healthBook.veterinarianComments is not null %}
                            <td>{{ animal.healthBook.veterinarianComments|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Type de sport du vétérinaire</th>
                        {% if animal.sportActivities.sportType is not null %}
                            <td>{{ animal.sportActivities.sportType|default }}</td>
                        {% else %}
                            <td>Non renseigné</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
