{% extends 'base.html.twig' %}

{% block title %}Nutrition index{% endblock %}

{% block body %}
    <h1>Nutrition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DietFood</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nutrition in nutrition %}
            <tr>
                <td>{{ nutrition.id }}</td>
                <td>{{ nutrition.dietFood }}</td>
                <td>
                    <a href="{{ path('nutrition_show', {'id': nutrition.id}) }}">show</a>
                    <a href="{{ path('nutrition_edit', {'id': nutrition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nutrition_new') }}">Create new</a>
{% endblock %}
