{% extends 'base.html.twig' %}

{% block title %}Nutrition{% endblock %}

{% block body %}
    <h1>Nutrition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nutrition.id }}</td>
            </tr>
            <tr>
                <th>DietFood</th>
                <td>{{ nutrition.dietFood }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nutrition_index') }}">back to list</a>

    <a href="{{ path('nutrition_edit', {'id': nutrition.id}) }}">edit</a>

    {{ include('nutrition/_delete_form.html.twig') }}
{% endblock %}
