{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Contact</h1>

    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}

       <input type="submit" value="send" />
    {{ form_end(contactForm) }}

</div>
{% endblock %}
