<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('/css/style.css')}}">
        {% endblock %}
    </head>
    <body>
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
     

      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{ asset('js/jquery-3.5.1.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
