<form method="post" action="{{ path('health_book_delete', {'id': health_book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ health_book.id) }}">
    <button class="btn">Delete</button>
</form>
