{% extends 'base.html.twig' %}

{% block title %}Edit HealthBook{% endblock %}

{% block body %}
    <h1>Edit HealthBook</h1>

    {{ include('health_book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('health_book_index') }}">back to list</a>

    {{ include('health_book/_delete_form.html.twig') }}
{% endblock %}
