{% extends 'base.html.twig' %}

{% block title %}HealthBook index{% endblock %}

{% block body %}
    <h1>HealthBook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Veterinarian</th>
                <th>Diseases</th>
                <th>Vaccines</th>
                <th>Antiparasites</th>
                <th>Weight</th>
                <th>Surgeries</th>
                <th>VeterinarianComments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for health_book in health_books %}
            <tr>
                <td>{{ health_book.id }}</td>
                <td>{{ health_book.veterinarian }}</td>
                <td>{{ health_book.diseases }}</td>
                <td>{{ health_book.vaccines }}</td>
                <td>{{ health_book.antiparasites }}</td>
                <td>{{ health_book.weight }}</td>
                <td>{{ health_book.surgeries }}</td>
                <td>{{ health_book.veterinarianComments }}</td>
                <td>
                    <a href="{{ path('health_book_show', {'id': health_book.id}) }}">show</a>
                    <a href="{{ path('health_book_edit', {'id': health_book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('health_book_new') }}">Create new</a>
{% endblock %}
