{% extends 'base.html.twig' %}

{% block title %}New HealthBook{% endblock %}

{% block body %}
    <h1>Create new HealthBook</h1>

    {{ include('health_book/_form.html.twig') }}

    <a href="{{ path('health_book_index') }}">back to list</a>
{% endblock %}
