{% extends 'base.html.twig' %}

{% block title %}HealthBook{% endblock %}

{% block body %}
    <h1>HealthBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ health_book.id }}</td>
            </tr>
            <tr>
                <th>Veterinarian</th>
                <td>{{ health_book.veterinarian }}</td>
            </tr>
            <tr>
                <th>Diseases</th>
                <td>{{ health_book.diseases }}</td>
            </tr>
            <tr>
                <th>Vaccines</th>
                <td>{{ health_book.vaccines }}</td>
            </tr>
            <tr>
                <th>Antiparasites</th>
                <td>{{ health_book.antiparasites }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ health_book.weight }}</td>
            </tr>
            <tr>
                <th>Surgeries</th>
                <td>{{ health_book.surgeries }}</td>
            </tr>
            <tr>
                <th>VeterinarianComments</th>
                <td>{{ health_book.veterinarianComments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('health_book_index') }}">back to list</a>

    <a href="{{ path('health_book_edit', {'id': health_book.id}) }}">edit</a>

    {{ include('health_book/_delete_form.html.twig') }}
{% endblock %}
