{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
      
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDay</th>
                <td>{{ user.birthDay ? user.birthDay|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ user.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
        </tbody>
    </table>
    <div class="container">
    {% if(animal) %}
    {% for animal in animal %}
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ animal.birthday }}</td>
            </tr>
            <tr>
                <th>Identification Number</th>
                <td>{{ animal.identificationNumber }}</td>
            </tr>
            <tr>
                <th>Pedigree</th>
                <td>{{ animal.pedigree }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ animal.idPhotoPath }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ animal.type }}</td>
            </tr>
        </tbody>
     </table>
     {% endfor %}
     {% endif %}
    
    
    
    </div>
    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
